/* -------------------------------------- Imported fonts ----------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
	font-family: sp;
	src: url(images/SP.otf);
	}

/* ----------------------------------------------Global Css--------------------------------------------------------- */

body {
	margin: 0 5%;
	color: #DACFEA;
	background: linear-gradient(180deg, #000 0%, #241337 21.86%, #5A3966 50.51%, #987184 82.01%, #9B7B7E 90.97%, #51444D 100%) no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: default;
}

html {
	scroll-behavior: smooth;
}

/* ---------------------------------------------------Home Page----------------------------------------------------- */
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5vh;
	margin-left: 2%;
	gap: 10vw;
}

#logo {
	transition: transform 0.5s;
}

#logo:hover {
	transform: scale(1.5);
}

#link {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 5vw;
}

#links {
	text-decoration: none;
	color: #DACFEA;
	font-size: 20px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	position: relative;
	transition: transform 0.5s;
}

#links:hover {
	transform: scale(1.1) translateY(-5px);

}

#home {
	display: flex;
	flex-direction: row;
	height: 85vh;
	margin: 2% 4%;
	justify-content: space-between;
}

#left-box {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	width: 50%;
}

#left-heading {
	font-family: "Montserrat Alternates", sans-serif;
	font-size: 40px;
	font-weight: 700;
}

#left-subHeading {
	font-family: "Montserrat Alternates", sans-serif;
	margin-top: 4%;
	font-size: 40px;
	font-weight: 700;


}

#left-desc {
	font-family: "Montserrat Alternates", sans-serif;
	font-size: 23px;
	margin: 10% 0;
	font-weight: 400;

}

#home-button {
	padding: 3% 4%;
	font-size: 1.0625rem;
	font-weight: 700;
	font-family: "Raleway", sans-serif;
	border-radius: 10px;
	border: none;
	background: #fff;
	color: #5A3966;
	cursor: pointer;
	transition: transform 0.5s;
}

#home-button:hover {
	transform: scale(1.1);
}

#right-img {
	width: 30vw;
	height: 75vh;
	border-radius: 10px;
	background: url(images/nivi.jpeg);
	background-size: cover;
}

.line {
	width: 90%;
	margin-top: 0;
	margin-bottom: 0;
}


/* -------------------------------------------------About me------------------------------------------------------ */

#about {
	display: flex;
	flex-direction: column;
	margin: 2% 4%;
	height: 100vh;
	justify-content: space-around;

}

#about-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#pic {
	margin-top: 3.5%;
	width: 30vw;
	height: 78vh;
	background: url(images/about\ pic.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
}

#about-me {
	width: 45vw;
	text-align: center;
	margin-top: 3.5%;
}

#about-me a{
	text-decoration: none;
	color: #DACFEA;
}

#ux {
	background: linear-gradient(180deg, #5A3966 -40.13%, #987184 40.19%, #9B7B7E 101.19%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-family: Raleway;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#about-sub-hed {
	font-size: 40px;
	font-style: normal;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0;
}

#about-para {
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	font-family: "Montserrat Alternates", sans-serif;
	margin-top: 10%;
	text-align: left;
}

#about-link {
	padding: 2% 1%;
	margin-right: 66%;
	margin-top: 7%;
	background: #544275;
	font-size: 18px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	border-radius: 10px;
	transition: transform 0.5s;
	cursor: pointer;
}

#about-link img {
	margin-left: 10px;
}

#about-link:hover {
	transform: scale(1.1);
}


/* ---------------------------------------------My Work------------------------------------------------------------ */

#work {
	display: flex;
	flex-direction: column;
	margin: 2% 4%;
	height: 100vh;
	justify-content: space-around;
}

#work-top-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#work-top-box h1 {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	font-size: 50px;
	font-style: normal;
	margin: 0;
}

#work-top-box h4 {
	font-family: "Raleway", sans-serif;
	font-size: 23px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 1%;
}

#work-mid-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	margin: 1% 0;

}

#work-mid-box button {
	text-decoration: none;
	color: #DACFEA;
	padding: 1.5% 2%;
	background: #544275;
	font-size: 20px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	border-radius: 10px;
	border: 0;
	transition: transform 0.5s;
	cursor: pointer;
}

#work-mid-box button p {
	margin: 0;
}

#work-mid-box button p img {
	margin-left: 8px;
}

#work-mid-box button:hover {
	transform: scale(1.2);
}

#work-bottom-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5% 0;
}

#work-box img {
	height: 48vh;
	border-radius: 20px;
}

#work-box {
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 10px rgba(20, 20, 20, 0.25);
}

#work-box .layer {
	width: 100%;
	height: 0;
	background: linear-gradient(180deg, rgba(84, 66, 117, 0.70) 0%, rgba(51, 51, 51, 0.70) 100%);
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 0;
	text-align: center;
	transition: height 0.5s;
	backdrop-filter: blur(5px);
}

#work-box:hover .layer {
	height: 100%;
}

#work-box p {
	font-family: "Montserrat Alternates", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	margin-top: 80%;
}

#special-layer p {
	margin-top: 10%;

}

#special-layer img {
	margin-top: 20%;
	width: 60%;
	height: 50%;

}

/* --------------------------------------Contact Me------------------------------------------------------------------- */

#contact {
	display: flex;
	flex-direction: column;
	margin: 2% 4%;
	height: 100vh;
	justify-content: space-around;
}

#contact-top-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

#contact-top-box h1 {
	font-family: "Montserrat Alternates";
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	margin: 0;
}

#contact-top-box p {
	font-family: "Raleway";
	font-size: 35px;
	font-style: normal;
	font-weight: 500;
	margin: 0;
	margin-top: 1%;
}

#contact-mid-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-top: 8%;
}

#contact-mid-box h1 {
	font-family: "Raleway";
	font-size: 40px;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	margin-bottom: 15%;
	justify-content: space-around;
}

#Site-link {
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#contact-links {
	margin-top: 16%;
}

#contact-links p {
	display: flex;
	flex-direction: row;
	gap: 19px;
	font-family: "Montserrat Alternates";

	font-style: normal;
	font-weight: 400;
	margin-bottom: 40%;
	cursor: pointer;
	transition: transform 0.5s, font-size 0.5s;
}

#contact-links p a {
	text-decoration: none;
	color: #DACFEA;
	font-size: 16px;
}

#contact-links p:hover {
	transform: scale(1.2);
	font-size: 17px;
}

#details {
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#details h1 {
	margin-bottom: 10%;
}

#contact-detail {
	margin-top: 10%;
}

#contact-detail p img {
	transition: transform 0.5s;
}

#contact-detail p img:hover {
	transform: translateY(-5px);
}

#contact-detail p {
	display: flex;
	flex-direction: row;
	font-family: "Montserrat Alternates";
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	gap: 40px;
	margin-bottom: 15%;
}

#contact-detail p a {
	text-decoration: none;
	color: #DACFEA;
}

#detail-para-special img {
	margin-right: 7.5px;
}

#newsletter {
	width: 27vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#newsletter h1 {
	margin-bottom: 9%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
}

form input,
form textarea {
	width: 100%;
	height: 2vh;
	background: none;
	border-radius: 10px;
	border: 1px solid #DACFEA;
	padding: 15px;
	margin: 14px 0;
	color: #DACFEA;
	font-size: 15px;
	box-shadow: 5px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

::placeholder {
	color: #DACFEA;
	font-family: "Montserrat Alternates";
}

form textarea {
	height: 11vh;
}

.line-btw-2 {
	margin-top: 14vh;
	height: 72%;
}

#contact-bottom-box {
	margin-top: 1%;
	display: flex;
	align-items: center;
}

#contact-bottom-box a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #DACFEA;
	display: inline-block;
	transition: transform 0.5s;
}

#contact-bottom-box a:hover {
	transform: translateY(-5px);
}

#footer {
	text-align: center;
	font-family: "Montserrat Alternates";
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	margin-top: 3%;
}